aside{
    margin-left : 10px;
    margin-top: 30px;
    position:absolute;
    width: 160px;
    line-height: 22px;
    h1{
        font-weight: bold;
        color: #412722;
    }
    h4{
        color : #DF2935;
        span{
            color : #3B413C;
        }
    }
}