header{
    display: flex;
    img{
        height : 250px;
        margin-left: 60px;
        
    }
    div{
           display:flex;
           flex-direction: column;
           justify-content: space-around;
        h1{
        font-size: 5rem;
        margin-left: 100px;
        color: #2C2C54;
    }
    h2{
        font-size: 1.6rem;
        margin-left: 100px;
        color: #F49D6E;

    } 
    }
   

}